body {
    /*background-color: rgba(0, 142, 157, 1);*/
}


.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.navbar {
    background-color: white;
    border: 0;
    border-radius: 0;
    box-shadow: 0px 0px 10px #000000;
}

h1 {
    font-size: 64px;
    color: white;
    font-family: arial;
    font-weight: 700;

}

h5 {
    color: #ffffff;
}

.text-center {
    margin-top: 200px;
}

.navbar-fixed-bottom {
    text-align: center;
    height: 30px;
    background-color: #070808;
    color: white;
}

.fullscreen {
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;

}

.fullscreenvideo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -85px;
    width: 113%;
    height: 113%;
    opacity: 1;
    margin-top: -70px;
}

.navbutton {
    margin-top: 10px;
    margin: 10px;
}

.box {
    /*background-color: rgba(255, 255, 255, 0.2);*/
    border-radius: 5px;
    width: 500px;
    height: 180px;
    border-style: solid;
    border-width: thin;
    border-color: white;

}

#logo {
    margin-top: 10px;
}

.btn {
    color: white;
    background: none;
    border-color: white;
    border-radius: 25px;
    border-width: 1px;
}

.btn:hover {
    background: #D4363C;
    color: white;
    border: none;
}
