<!DOCTYPE html>
<html>

<head>
<title>Registration</title>
</head>

<body>
<form method='POST'>
  <div class="container">
    <label><b>Email</b></label><br>
    <input type="email" placeholder="Enter Username" name="email" required><br><br>

    <label><b>Application code</b></label><br>
    <input type="password" placeholder="Enter Password" name="code" required><br><br>

    <button type="submit">Login</button>
  </div>
</form>
{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
{% endfor %}
</body>
</html>
