<!DOCTYPE html>
<html>

<head>
<title>Registration</title>
</head>

<body>
<form method='POST'>
<fieldset>

<legend>Applicant informations:</legend>

First name:<br>
<input type = "text" name= "first_name" required><br>

Last name:<br>
<input type="text" name="last_name" required><br><br>

E-mail address:<br>
<input type="email" name="email" required><br><br>

City:<br>
<select name="city" required>
<option value="">Choose a city!</option>
{% for element in city_list %}
<option value={{ element.id }}>{{ element.name }}</option>
{% endfor %}
</select>

<input type="submit" value="Submit">
</fieldset><br>
{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
{% endfor %}
</form>
</body>
</html>
