<!DOCTYPE html>
<html>
<head>

    <title>User Story Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/root.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="tinted-image"></div>
    <!--
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand"><img src="/static/img/logo@2x.png" id="logo"></a>
            </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><button type="button" class="btn btn-primary">Log In</button></a></li>
            <li><a href="#"><button type="button" class="btn btn-primary">Sign Up</button></a></li>
          </ul>
        </div>
    </nav>
    <-->
    <div class="container-fluid text-right navbutton">
        <a href="#"><button type="button" class="btn btn-primary">Log In</button></a>
        <a href="#"><button type="button" class="btn btn-primary">Sign Up</button></a>
    </div>

    <div class="fullscreen ">
        <video playsinline autoplay muted loop class="fullscreenvideo videohue">
            <source src="/static/video/Notebook - 117.mp4" type="video/mp4">
        </video>
    </div>

    <div class="container-fluid text-center box">
        <h1>School System</h1>
        <h5>Edison bulb butcher next level VHS cardigan. Farm-to-table cronut affogato succulents,
            subway tile kinfolk cold-pressed tousled 8-bit. Microdosing fixie tousled yr post-ironic vice.
            Paleo plaid wolf helvetica heirloom jianbing.</h5>
    </div>

    <div class="footer navbar-fixed-bottom">
        <p>Empty and the © 2016</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
